<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cxaou.thetestsystem.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.cxaou.thetestsystem.pojo.User">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="identity" column="identity" jdbcType="INTEGER"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="state" column="state" jdbcType="INTEGER"/>
            <result property="headPortrait" column="head_portrait" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,phone,username,
        identity,password,state,
        head_portrait
    </sql>
</mapper>
